<h1>Find Your Card</h1>

<p>
	Instructions: <br>
	1. Choose a type of purchase you're going to make<br>
	2. According to today's date, you'll find out if that purchase type is qualified for a 5% cash reward!<br>
</p>

<div id="rewards">
	Today's Date: <%= Time.now.strftime("%m/%d/%Y") %>

	<%= form_tag(rewards_path, method: "get") do %>

	  <%= label_tag(:search, "Search for: ") %>
	  <%= select_tag(:search,  options_for_select(Reward.uniq.pluck(:purchase)), {include_blank: 'Choose a Purchase Category'}) %> 
	  <%= submit_tag "Search", :name => nil %>

	<% end %>

	<!-- check credit cards to purchase type and applicable date -->
	<% if @rewards %>
		<% if @rewards == [] %>
			<div id="rewards_animation">
				Sorry!<br>
				That category does not qualify<br>
				for 5% cash back at this time
			</div>
		<% else %>
			<% @rewards.each do |reward| %>
				<br>
				<div id="rewards_animation">
					Yay! You should use <strong><%= reward.name %></strong><br>
					card and get 5% cash back! <br>
					<%= image_tag "credit-card-red.svg", size: "300" %>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<%= image_tag "wallet.svg", size: "300" %><br>
	<% end %>
</div>