<h1>Choose your card</h1>

Today's Date: <%= Time.now.strftime("%m/%d/%Y") %>

<%= form_tag(rewards_path, method: "get") do %>

  <%= label_tag(:search, "Search for: ") %>
  <%= select_tag(:search,  options_for_select(Reward.uniq.pluck(:purchase)), {include_blank: 'Choose a Purchase Category'}) %> 
  <%= submit_tag "Search", :name => nil %>

<% end %>

<br>	
<hr>
<br>

<% if @rewards %>
	<% if @rewards == [] %>
		Uh oh, that's not category does not give you 5% cash back
	<% else %>
		<% @rewards.each do |reward| %>
			
			<br>
			You should use <strong><%= reward.name %></strong> card and save 5%!
			<br>

		<% end %>
	<% end %>
<% else %>
	Choose a category
<% end %>




