<%= form_for @expense do |f| %>
	<% if @expense.errors.any? %> 
		<div id="errors">
			<h2><%= pluralize(@expense.errors.count, "error") %> prevented this expense from saving</h2>
			<ul>
				<% @expense.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %> 
		</div>
	<% end %>

	<p>
		<%= f.label :date %><br>
		<%= f.text_field :date %>
	</p>

	<p>
		<%= f.label :amount %><br>
		<%= f.text_field :amount %>
	</p>

	<p>
		<%= f.label :payment %><br>
		<%= f.text_field :payment %>
	</p>

	<p>
		<%= f.label :category %><br>
		<%= f.text_field :category %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>