<%= simple_form_for @expense do |e| %>

	<% if @expense.errors.any? %> 
		<div id="errors">
			<h2><%= pluralize(@expense.errors.count, "error") %> prevented this expense from saving</h2>
			<ul>
				<% @expense.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %> 
			</ul>
		</div>
	<% end %>

	<%= e.error_notification %>
	<%= e.input :date, as: :date,  required: true %>
	<%= e.input :amount, :input_html => {value: number_with_precision(e.object.amount, precision: 2), required: true} %> 
	<%= e.input :payment, required: true, :collection => ["Credit Card", "Cash"], prompt: "Choose payment type"%> 
	<%= e.input :category, required: true, :collection => ["Food & Dining", "Auto & Transport", "Bills & Utilities", "Entertainment", "Shopping", "Travel", "Misc Expenses", "Other"], prompt: "Choose category" %> 
	<%= e.input :description, required: true %>
	<%= e.button :submit %><br>
	<br>
	<%= link_to "Back", :back %>
<% end %>

<!-- <%= simple_form_for @expense do |f| %>
	<% if @expense.errors.any? %> 
		<div id="errors">
			<h2><%= pluralize(@expense.errors.count, "error") %> prevented this expense from saving</h2>
			<ul>
				<% @expense.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %> 
			</ul>
		</div>
	<% end %>
	
		<%= f.label :date %><br>
		<%= f.date_select :date %>
	

	<p>
		<%= f.label :amount %><br>
		<%= f.number_field :amount, :value => (number_with_precision(f.object.amount, :precision => 2)) %>
	</p>

	<p>
		<%= f.label :payment %><br>
		<%= f.select(:payment, (["Credit Card", "Cash"]), {include_blank: "Choose Payment Option"}) %>
	</p>

	<p>
		<%= f.label :category %><br>
		<%= f.select(:category, (["Food & Dining", "Auto & Transport", "Bills & Utilities", "Entertainment", "Shopping", "Travel", "Misc Expenses", "Other"]), {include_blank: "Choose a Purchase Category"}) %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description, placeholder: "Describe the Expense" %>
	</p>
</div>
	<p>
		<%= f.submit %>
	</p>

<%= link_to "Back", :back %>

<% end %> -->
