<h1 class='animated fadeInRight'>Expense Tracker</h1>


<!-- <div id="pie_chart"></div>

<div id="bar_chart"></div> -->

	<%= column_chart current_user.expenses.group(:date).sum(:amount) %>
	<%= pie_chart current_user.expenses.group(:category).sum(:amount) %>
	<%= bar_chart current_user.expenses.group(:payment).sum(:amount) %>
<div class='animated fadeInBottom'>
	<table id="expense_table" class="display responsive no-wrap"> 
		<thead>
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Payment Type</th>
				<th>Category</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% current_user.expenses.each do |e| %>
				<% if e.user == current_user %>
					<tr>
						<td><%= link_to e.date.strftime("%m/%d/%Y"), e %></td>
						<td><%= number_to_currency(e.amount) %></td>
						<td><%= e.payment %></td>
						<td><%= e.category %></td>
						<td><%= e.description %></td>
						<td><%= link_to image_tag('edit.svg', size: '15'), edit_expense_path(e) %> | <%= link_to image_tag('garbage.svg', size: '15'), expense_path(e), method: :delete, data: { confirm: "Are you sure?" } %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<!-- <script type="text/javascript"> 
	var pie_chart_data = "<%= j @data_json %>"
</script> -->


