<!DOCTYPE html>
<html>
<head>
	<!-- meta tags from bootstrap -->
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <title>Rewards</title>

  <!-- Bootstrap -->
  

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- css and js cdn for datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script type="text/javascript" charset="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
 	
 	<!-- css and js cdn for bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</head>
<body>

<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "cash.svg", size: "150" %>
		<% end %>
	</div>
	<ul>
		<li class="category">Maximize Rewards</li>
		<li><%= link_to "Rewards", rewards_path %></li>
		<% if user_signed_in? %>
			<li><%= link_to "Expense Tracker", expenses_path %></li>
		<% end %>
		<li>About</li>
	</ul>
	<% if !user_signed_in? %>
		<p class="sign_in">Admin Login</p>
	<% end %>
</div>

	<div id="main_content">
		<div id="header">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<p>Rewards</p>


			<div class="buttons">
				<button class="button"><%= link_to "Check Rewards", rewards_path %></button>

				<% if user_signed_in? %>
					<button class="button"><%= link_to "Expense Tracker", expenses_path %></button>
					<button class="button"><%= link_to "New Transaction", new_expense_path %></button>
					<button class="button"><%= link_to 'Log Out', destroy_user_session_path, :method => :delete, data: { confirm: "Are you sure you want to log out?" } %></button>
					<button class="button"><%= link_to 'Edit User', edit_user_registration_path %></button>
				<% else %>
					<button class="button"><%= link_to 'Sign Up', new_user_registration_path %></button>
					<button class="button"><%= link_to 'Log In', new_user_session_path %></button>
				<% end %>
			</div>
		</div>
	</div>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert") %>
	<% end %>

<%= yield %>


<!-- this prevents datatables css and js from working  -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Include all compiled plugins (below), or include individual files as needed -->



<h3>Credit</h3>
<br>
<div>Icons made by <a href="http://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>
